<div class="modal-dialog">
  	<div class="modal-content">
	    <div class="modal-header">
	      <button type="button" class="close" data-dismiss="modal">×</button>
	      <h3 class="modal-title">Edit Department</h3>
	    </div>
	    <div class="modal-body form-group form-admin">
	        <ul class="errors alert-danger"></ul>
			<%= render 'form', department: @department %>
		</div>
	</div>
</div>
<%= link_to 'Show', admin_department_path(@department) %> |
<%= link_to 'Back', admin_departments_path %>
