<section class="wrapper-bottom-sec">
	<div class="row">
	    <div class="panel">
	        <div class="panel-heading">
	            <h3 class="panel-title"> Add Employee</h3>
	        </div>
	        <%= render 'form', employee: @employee %>
	    </div>
	</div>
</section>
